SUPABASE_PROJECT_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

MAPBOX_SECRET_TOKEN=
MAPBOX_PUBLIC_TOKEN=

CORS_ALLOW_ORIGINS=http://localhost:5173

ROUTE_DISTANCE_WEIGHT=0.2
REROUTE_IMPROVEMENT_THRESHOLD=0.10
